<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <packageSources>
        <clear />
        <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
        <add key="NonSucking" value="C:\Users\susch\source\repos\NonSucking.Framework.Extension\NonSucking.Framework.Extension.EntityFrameworkCore\bin\Debug" />
    </packageSources>
</configuration>